body{
  background-color: black;
  width:100vw;
  height:100vh;
  color:white;
  display: flex;
  justify-content: center;
}

.portfolio{
  width:1400px;
  padding:100px;
}

.bento-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top:100px;
}