* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: rgb(255, 81, 0);
  font-family: "Tiro Devanagari Hindi", serif;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

header .hamburger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .ham-bar {
  align-self: auto;
  margin-right: 40px;
  border: 1px solid black;
  width: 40px;
  height: 10px;
  padding: 1px;
  margin: 4px;
  align-self: right;
  background-color: rgb(255, 81, 0);
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.25s ease-in-out;
}

header .js-ham-bar:nth-child(1) {
  margin: -5px 0;
  transform: rotate(45deg);
}

header .js-ham-bar:nth-child(2) {
  transform: rotateY(90deg);
  margin: -5px 0;
}

header .js-ham-bar:nth-child(3) {
  margin: -5px 0;
  transform: rotate(-45deg);
}

header {
  margin-top: 40px;
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 50px;
}

main {
  width: 400px;
  display: flex;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main h1 {
  text-align: center;
}

.make-me-laugh {
  padding: 16px 32px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: rgb(143, 67, 67);
  color: black;
  font-weight: bold;
  cursor: pointer;
  margin-top: 40px;
  transition: color 0.15s;
  transition: "background-color" 0.15s;
}

.make-me-laugh:hover{
  transform: translateY(-2px);
}

.joke-box {
  width: fit-content;
  height: fit-content;
  padding: 20px;
  font-size: 20px;
  color: rgb(224, 139, 105);
  text-align: center;
  margin-top: 40px;
  border-radius: 20px;
}
