<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Education</title>
  </head>
  <body>
    Educaction
    <a href="/user/resume">
      <button>Build Resume</button>
    </a>
  </body>
</html>
